body{
    text-align: center;
}

 .navbar-nav .nav-link:hover {
      color: #0d6efd;
    }
    .nav-link {
      transition: color 0.3s ease;
    }


a.btn-primary{
    background-color: #0b36a0;
}

a.btn-primary:hover{
    background-color: rgb(255, 255, 255);
    color: black;

} 

a.btn-outline-secondary:hover{
   background-color: #0b36a0;
    color: white;
}
 
   /* Dropdown on hover for large screens */
  @media (min-width: 992px) {
    .navbar .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0;
    }
  }


.font-playfair-display{
  font-family:Playfair Display,serif ;
}

 .st0 {
    fill: #284979;
  }
                                     

/*=== pricing section=== */
 
    .pricing-card {
      transition: transform 0.3s, box-shadow 0.3s;
    }
    .pricing-card:hover {
      transform: translateY(-10px);
      box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }
    .feature-table th, .feature-table td {
      vertical-align: middle;
    }
    .feature-table i {
      color: green;
    }
    .feature-table .fa-times {
      color: red;
    }
  

    b{
      font-weight: 600;
    }

    /* ========pro pricing plan========= */
    .pricing-card:hover {
      transform: translateY(-5px);
      transition: transform 0.3s ease;
    }
    .highlight {
      border: 2px solid #0d6efd;
    }
   

    /*====== Risk-section ======*/
    .Risk{
      background-color: #143246D4;
      
    }
  h5{
    font-weight: 500;
  }

  /* why choose us */
  .my-icon{
    width: 60px;
    height: 60px;
  }





 /*============ Need-help-section================*/
  .need-help{
    background-color: #d8e8ff;
  }

 
    .btn-dark:hover{
   background-color: #0d6efd;
    color: white;
}
  

   /*=========== footer==========*/
  .footer-link {
  color: #6c757d;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #0d6efd; 
  
}
